* {
	box-sizing: border-box;
}

.pop-up-container {
	width: 250px;
	font-size: 15px;
	margin: 0;
	padding: 0;
}
#unsafe {
	margin: 5px;
	border: 1px solid black;
	padding: 5px;
}

#unsafe h2{
	font-size: 1.1em;
	text-align: center;
	padding: 0;
	margin: 0;
	border-bottom: 1px dotted black;
}

#unsafe p {
	text-align: center;
}

#unsafe li {
	padding-top: 5px;
}

.options-container {
	width: 100%;
	margin: 0 auto;
}

.form {
	width: 70%;
	margin: 0 auto;
	margin-top: 50px;
}

.form h2 {
	font-size: 50px;
}

select {
	-webkit-appearance:none;
	  outline:none;
	  background:white;
	  width:100%;
	  padding:10px;
	  border-color: grey;
	  font-size:1.1em;
	  color: grey;
  	  transition:all 333ms ease-in-out;
	  &:active, &:focus {border-color:$dark-grey;}
}

#diet {
	width: 100px;
}

#status {
	width: 100px;
	height: 100px;
}

#save {

}

