body {
	width: 250px;
	font-size: 15px;
	margin: 0;
	padding: 0;
}
#unsafe {
	margin: 5px;
	border: 1px solid black;
	padding: 5px;
}

#unsafe h2{
	font-size: 1.1em;
	text-align: center;
	padding: 0;
	margin: 0;
	border-bottom: 1px dotted black;
}

#unsafe p {
	text-align: center;
}

#unsafe li {
	padding-top: 5px;
}